.stations-mod-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stations-mod-header {
    text-align: center;
    padding: 20px;
    background: #ECEEF2;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
}

.stations-mod-body {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    min-height: 300px;
}

.stations-mod-container h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}
#header-card-mod{
    width: 1125px;
}
.arnold-gitker{
    padding: 0;
    background: #f9f9f9;
    border-color: #f9f9f9;
}